<h1>New Song</h1>

<form action="/songs" method="post">

  <label>Song Name:</label>
  <input type="text" name="song_name">
  <br>
  <label>Artist Name:</label>
  <input type="text" name="artist_name">
  <br>
  <label>Genre(s):</label>
  <% @genres.each do |genre| %>
    <br>
    <label> <%= genre.name %> </label>
    <input
      type="checkbox"
      name="genre_ids[]"
      value="<%= genre.id %>"
    >
  <% end %>
  <br>
  <input type="submit">

</form>
